@use "sass:math";

$num-header-catchprases: 7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  height: 775px;
  padding: 0 calc(50% - 600px);
  background: white url("./bg_dark.jpg") 50% 0 no-repeat;

  img {
    width: 241px;
    margin-top: 35px;
    height: 62px;
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  height: 800px;
  border: 1px solid #333;
  border-width: 0 1px 1px;
}

section > img {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  border: 1px solid #333;
  animation: move 4s linear forwards;
}

h1 {
  width: 562px;
  margin-top: 17px;
  color: rgb(44, 44, 44);
  font: 300 40px/60px "Inter", sans-serif;

  strong {
    font-weight: 600;
  }

  span {
    opacity: 0;
    position: absolute;
    animation: fade-in-out-from-top $num-header-catchprases * 3s infinite
      forwards;
  }

  @for $z from 1 through ($num-header-catchprases - 1) {
    span:nth-of-type(#{$z + 1}) {
      animation-delay: $z * 3s;
    }
  }
}

$animation-step-one: math.div(20%, $num-header-catchprases);
$animation-step-two: math.div(80%, $num-header-catchprases);
$aimation-step-three: math.div(100%, $num-header-catchprases);

@keyframes fade-in-out-from-top {
  0% {
    margin-top: -3rem;
    opacity: 0;
  }

  #{$animation-step-one} {
    margin-top: 0;
    opacity: 1;
  }

  #{$animation-step-two} {
    margin-top: 0;
    opacity: 1;
  }

  #{$aimation-step-three} {
    margin-top: 2rem;
    opacity: 0;
  }

  100% {
    margin-top: 2rem;
    overflow: 0;
  }
}
